* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    padding-left: 50px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

$color-1: #A47503;
$color-2: #FFC12D;
$color-3: #F9B718;
$color-4: #C89210;
$color-5: #B18009;

$color-6: #558502;
$color-7: #97E411;
$color-8: #7BC200;
$color-9: #A7EC2F;

$color-10: #D52E13;
$color-11: #FD7761;
$color-12: #F55C43;
$color-13: #FEB1A4;

$color-14: #0787D4;
$color-15: #6FD9FC;
$color-16: #47B4F6;
$color-17: #85EBFA;

$color-18: #5B568E;
$color-19: #A39CDC;
$color-20: #8781BD;
$color-21: #AACDF6;

$color-22: #E2E6E7;
$color-23: #2C3E50;
$color-24: #A1B1BC;
$color-25: #CFD2D3;
$color-26: #A2A4A5;

main {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    width: 570px;

    &.col-2 {
        width: 1170px;
    }

    &:nth-child(odd) {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    &:last-child {
        margin: 0;
    }
}

section {
    display: flex;
    position: relative;
    padding-right: 90px;
    padding-left: 49px;
    border: 1px solid $color-22;
    border-radius: 10px;

    &::before {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 42px 28px 42px 0;
        border: 7px solid transparent;
        border-radius: 50%;
        font-family: 'FontAwesome', sans-serif;
        font-size: 24px;
    }

    &.warning {

        &::before {
            content: '\f12a';
            border-color: $color-3;
            background-color: $color-2;
            color: $color-1;
        }

        &.solid::before {
            border-color: $color-4;
        }
    }

    &.success {

        &::before {
            content: '\f00c';
            border-color: $color-8;
            background-color: $color-7;
            color: $color-6;
        }
    }

    &.error {

        &::before {
            content: '\f00d';
            border-color: $color-12;
            background-color: $color-11;
            color: $color-10;
        }
    }

    &.danger {

        &::before {
            content: '\f0e7';
            border-color: $color-16;
            background-color: $color-15;
            color: $color-14;
        }
    }

    &.info {
        padding-right: 50px;

        &::before {
            content: '\f129';
            border-color: $color-20;
            background-color: $color-19;
            color: $color-18;
        }
    }

    div {
        margin-top: 35px;

        h1 {
            margin-bottom: 7px;
            color: $color-23;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.3px;
            line-height: 24px;
            text-transform: uppercase;
            word-spacing: 1px;
        }

        p {
            color: $color-24;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
        }
    }

    a {
        position: absolute;
        top: 16.9px;
        right: 18px;
        color: $color-25;
        font-size: 14px;

        &:hover {
            color: $color-26;
        }

        &::before {
            content: '\f00d';
            display: inline-block;
            font-family: 'FontAwesome', sans-serif;
        }
    }

    &.solid {

        p {
            color: $color-23;
        }

        &.warning {
            border-color: transparent;
            background-color: $color-2;

            &::before {
                background-color: $color-2;
                color: $color-1;
            }

            &.solid::before {
                border-color: $color-4;
            }

            a {
                color: $color-5;

                &:hover {
                    color: $color-23;
                }
            }
        }

        &.success {
            border-color: transparent;
            background-color: $color-9;

            &::before {
                background-color: $color-7;
                color: $color-6;
            }

            &.solid::before {
                border-color: $color-8;
            }

            // a {
            //     color: $color-6;

            //     &:hover {
            //         color: $color-23;
            //     }
            // }
        }

        &.error {
            border-color: transparent;
            background-color: $color-13;

            &::before {
                background-color: $color-13;
                color: $color-10;
            }
    
            &.solid::before {
                border-color: $color-12;
            }

        //     a {
        //         color: $color-10;

        //         &:hover {
        //             color: $color-23;
        //         }
        //     }
        }

        &.danger {
            border-color: transparent;
            background-color: $color-17;

            &::before {
                background-color: $color-17;
                color: $color-14;
            }
    
            &.solid::before {
                border-color: $color-16;
            }

            // a {
            //     color: $color-14;

            //     &:hover {
            //         color: $color-23;
            //     }
            // }
        }

        &.info {
            border-color: transparent;
            background-color: $color-21;

            &::before {
                background-color: $color-21;
                color: $color-18;
            }
    
            &.solid::before {
                border-color: $color-20;
            }

            // a {
            //     color: $color-18;

            //     &:hover {
            //         color: $color-23;
            //     }
            // }
        }
    }
}
