$color-1: #A47503;
$color-2: #FFC12D;
$color-3: #F9B718;
$color-4: #C89210;
$color-5: #B18009;

$color-6: #558502;
$color-7: #97E411;
$color-8: #7BC200;
$color-9: #A7EC2F;

$color-10: #D52E13;
$color-11: #FD7761;
$color-12: #F55C43;
$color-13: #FEB1A4;

$color-14: #0787D4;
$color-15: #6FD9FC;
$color-16: #47B4F6;
$color-17: #85EBFA;

$color-18: #5B568E;
$color-19: #A39CDC;
$color-20: #8781BD;
$color-21: #AACDF6;

$color-22: #E2E6E7;
$color-23: #2C3E50;
$color-24: #A1B1BC;
$color-25: #CFD2D3;
$color-26: #A2A4A5;
